
form {
  
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #d6d6e5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  height: 380px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.ReactModal__Content h2 {
  margin-top: 0;
}

.ReactModal__Content button {
  padding: 10px;
  background-color: #01070f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.ReactModal__Content button:hover {
  background-color: #0056b3;
}
.btn{
background-color: #f9f9f9;
}
.ReactModal__Content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1271d5; 
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white; 
  padding: 5px;
  border-radius: 50%;
}

.ReactModal__Content .close:hover {
  background-color: #0056b3; 
}

